.container {
  width: 50%;
  margin: 20px auto;
  background-color: rgb(210, 207, 207);
  margin: 3%;
  border-radius: 5px;
}

.form {
  margin: 50px;
}
.container h1 {
  text-align: center;
  margin: 15px;
}
.container p {
  text-align: center;
  margin-top: 15px;
}
.form input,
button,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form button[type="submit"] {
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.form input[type="submit"]:hover {
  background-color: #0056b3;
}
