#course-detail{
    margin-top: 2rem;
}
#course-detail img{
    height: 27.25rem;
    object-fit: cover;
    border-radius: 10px;
    width: fit-content;
    margin-right: 8rem;
}
#List{
    border-radius: 10px;
    background-color: whitesmoke;
    height: 27rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
#price{
    display: flex;
}
.price{
    margin-left: 5rem;
}
#price p{
    max-width: 30rem;
}
#title h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.75rem;
    margin-bottom: .5rem;

}
#course-detail h1{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
#course-detail ul li{
    margin-bottom: 1rem;
}
#enroll-button{
    margin-left: 8rem;
    color: #1a73e8;
    padding: 0.9rem;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    /* color: white; */
}
#enroll-button:hover{
    background-color: #1a73e8;
    color: white;
    cursor: pointer;
}
#instructor{
    margin-top: 5rem;
}
#about{
    display: flex;
    margin-top:1rem ;
}
#about img{
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 2rem;
}